# Python
__pycache__/
*.pyc
*.env

# Node
node_modules/
dist/
build/

# Fichiers générés / logs / Excel
backend/scripts/excel/
backend/scripts/images/
*.xlsx
*.png
*.csv
*.log
# Fichiers temporaires / fantômes
nul
backend/scripts/nul
.amazonq/

